*{
    box-sizing: border-box;
}
/* NAV */
.sticky{
    position: fixed;
    top: 0;
    width: 100%;
    height: 4em;
    background-color: rgb(233, 231, 252);
}
.main-nav{
    display: flex;
    justify-content: flex-end; /*to push the items to the rigth*/
    list-style: none;
    padding-right: 5px;
}
.main-nav li{
    padding: 10px; 
    text-decoration: none;
}
.push{
    margin-right: auto; /* to push it to left*/ 
}
a{
    text-decoration: none; /*to remove underline from navbar*/
    color: rgb(105, 77, 5);
    transition: 0.2s;
}
a:hover {
    color: rgb(199, 153, 38); /* to change the links color lightly by hovering*/
  }
body{
     margin: auto 0; /* to remove spaces around the page in browser */
     background-color: rgb(118, 101, 231);
     color: rgb(247, 247, 249);
}
h1{
    font-family: serif;
    font-size: 3em;
    font-style: oblique;
    margin-top: 5rem;
    color: rgba(220, 206, 135, 0.878);
}
h2{
    text-align: justify;
    line-height: 1.7em;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 1.3em;
    font-kerning: none;
    margin-top: 5rem;
}
/* Flex-Box */
.intro-container{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: space-around;
    gap: 2px 10em; /* to set gap between flex items: row colomn */
    margin: 40px;
}

img{
    width: 550px;
    height: 500px;
    margin-top: 10%;
}

/*Slideshow-container*/
.slideShow-container{
    max-width: 1000px;
    width: fit-content; /*to fit images to the container*/
    position: static; /*to avoid running over nav-bar while scrolling*/
    margin: auto;
    
}
.mySlides {
    display: none;
}
.text{
    font-size: 15px;
    font-weight: bold;
    color: rgb(196, 191, 228);
    padding: 10px 25px;
    position: relative;
    bottom: 40px; /*distance from the bottom of container*/
    width: 100%;
    text-align: center;
    background-color: rgb(98, 91, 91);
    opacity: 0.7;
}
/*left/rigth arrows*/
.prev, .next{
   position: absolute;
   cursor: pointer;
   color: rgb(244, 59, 59);
   font-size: 40px;
   font-weight: bold;
   width: auto;
   margin-top: -30%;
   margin-left: 3%;
   transition: 0.5s ease;
   margin-bottom: 40%;
   user-select: none;
   /*margin-block: 50%;  to fix the arrows in center, although the <a> tag is influenced by links-style*/ 
}
.next{
    right: 33%;
}
.prev:hover, .next:hover{
    background-color: yellow;
}
/*Indicators*/
.dots-container{
    text-align: center;
    margin-bottom: 20%;
    margin-top: -5%; 
}
.dot{
    cursor: pointer;
    display: inline-block;
    background-color: rgb(146, 134, 134);
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin: 0 5px;
    transition: background-color 0.5s ease;
}
.dot:hover{
    background-color: rgb(55, 45, 45);
}
/*to show the active slide*/
.active{
    height: 17px;
    width: 17px;
    background-color: rgb(69, 66, 66);
}
/*fade*/
.fade{
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade{
    from {opacity: 0.3;}
    to {opacity: 1;}
}